<h3>Listado de Heroes</h3>

<div *ngIf="deletedHero; else nothingWasDeleted">         <!--si el ngIf no se cumple entonces salta al else y muestra    -->
    <h3>Héroe borrado <small class="text-danger">{{deletedHero}}</small></h3>
</div>

<ng-template #nothingWasDeleted> <!--el #...hace referencia al else del ngIf-->
    <h3>No ha borrado nada.</h3>
</ng-template>

<button 
*ngIf="heroNames.length > 0"
    (click)="removeLastHero()"
    class="btn btn-outline-danger">
    Borar último héroe
</button>

<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames"
    class="list-group-item">{{name}}</li>
</ul>
